<div class="add-metric-container" id="add_metric_operation_{{e.id}}">
	<div style="text-align: right; height: auto; width: 100%;">
		<i style="right: 2px; top: 2px;" ng-click="closeAddMetricOperation(e);" class="fal fa-times">X</i>
	</div>
	<div style="text-align: center; height: auto; width: 100%;">
		<select id="desired-metric-{{e.id}}" class="metric-creation-input" name="metric_name">
				<option ng-repeat="metric in e.availableMetrics"  value="{{metric.name }}">
					{{ metric.name }}
				</option>
		</select>
		<input id="desired-metric-value-{{e.id}}" class="metric-creation-input" name="metric_metric_value_value" placeholder="Значение метрики">
		<button ng-click="sendAddNodeDataOperation(e);">
			СОЗДАТЬ
		</button>
	</div>
</div>