<span style="position: relative;" ng-repeat="metric_value in e.node.metric_values">
	<span ng-if="!metric_value.has_to_be_entered">
		<div class="green_circle" name="{{e.name }}"></div>
		<div class="green_line" name="{{e.name}}">
			&nbsp;{{ metric_value.metric.name }} = 
			{{metric_value.value }}
		</div>
	</span>
	<span ng-if="!!metric_value.has_to_be_entered">
		<div class="red_circle" name="{{ e.name }}"></div>
		<div class="red_line" name="{{ e.name }}">
			{{ metric_value.metric.name }} = 
			{{ metric_value.value }}
		</div>
	</span>
</span>
<div class="violet_circle" name="{{ e.name }}"></div>
<div class="violet_line" name="{{ e.name }}">
	<span ng-repeat="metric_operation in e.metric_operations">
		{{metric_operation.name}}<br>
	</span>
</div>
