<div class="new-node-container" id="node_creation_{{e.id}}">
	<i class="fal fa-times">X</i>
	<!-- {{dataNode}} -->
	<input ng-model="dataNode.name" class="node-creation-input" name="node_name" placeholder="Название нода" />
	<input ng-model="dataNode.body" class="node-creation-input" name="node_body" placeholder="Тело нода" />
	<input type="checkbox" ng-model="dataNode.last_node" class="node-creation-input" name="node_last_node" />
	<button ng-click="sendNewNodeData(e);">СОЗДАТЬ</button>
</div>