<div class="new-node-container" id="node_creation_{{e.id}}">
	<i class="fal fa-times">X</i>
	<input ng-model="dataNode.name" class="node-creation-input" name="node_name" placeholder="Название нода" />
	<input ng-model="dataNode.body" class="node-creation-input" name="node_body" placeholder="Тело нода" />
	<!-- <select ng-model="dataNode.metric_value" class="node-creation-input" name="node_metric_value" placeholder="Введите значение метрики">
		
	</select> -->
	<input type="checkbox" ng-model="dataNode.last_node" class="node-creation-input" name="node_last_node" />
	<button ng-click="sendNewNodeData(e);">СОЗДАТЬ</button>
</div>