<div class="new-node-container" id="node_creation_{{e.id}}">
	<i class="fal fa-times">X</i>
	{{sentData}}
	<input ng-model="sentData.name" class="node-creation-input" name="node_name" placeholder="Название" />
	<button ng-click="sendNewNodeData();">СОЗДАТЬ</button>
</div>