<div class="admin_body2">
	<table align="left" class="table" border="1px">
		<caption align="center" style="font-size: 1.5vw;">Параметры</caption>
		<tr>
			<th>Название</th>
			<th>Тип</th>
			<th>Единицы измерения</th>
			<th>Минимум</th>
			<th>Максимум</th>
			<th>По умолчанию(берутся значения из базы)</th>
		</tr>
		<% @metrics.each do |metric| %>

			<% metric_value = @metric_values.find_by metrics_id: metric.id %>
			<tr>
				<td>
					<%= metric.name %>
				</td>
				<td>
					<select>
						<% DataType.all.each do |d_t|%>
							<option><%= d_t.name %></option>
						<% end %>
					</select>
				</td>
				<td>
					<select>
						<option>Месяц</option>
						<option>Процент</option>
						<option>Дата</option>
					</select>
				</td>
				<td>
					<%= metric_value.min_value %>
					
				</td>
				<td>
					<%= metric_value.max_value %>
				</td>
			</tr>
		<% end %>
		<tr>
			<td class="add-metric" colspan="5">
				<a href="/admin/metrics/new" style="text-decoration: none; color: green; display: block; margin: 0px;">
					Добавить
				</a>
			</td>
		</tr>
	</table>
</div>