<div class="admin_body2">
	<table align="left" class="table" border="1px">
		<caption align="center" style="font-size: 1.5vw;">Параметры</caption>
		<tr>
			<th>Название</th>
			<th>Тип</th>
			<th>Единицы измерения</th>
			<th>Минимум</th>
			<th>Максимум</th>
			<th>По умолчанию(берутся значения из базы)</th>
		</tr>
		<tr ng-repeat="metric in metrics">
			<td>
				{{metric.name}} 
			</td>
			<td>
				<select>
					<option ng-repeat="dataType in dataTypes" ng-selected="{{metric.type_metric==dataType.id}}">
						{{ dataType.name }}
					</option>
				</select>
			</td>
			<td>
				<select>
					<option ng-repeat="measure in measures">
						{{ measure.name }}
					</option>
				</select>
			</td>
			<td ng-if="metric.min_value != null">
				{{ metric.min_value }} 
			</td>
			<td ng-if="metric.min_value == null">
				Не существует 
			</td>
			<td ng-if="metric.max_value != null">
				{{ metric.max_value }} 
			</td>
			<td ng-if="metric.max_value == null">
				Не существует
			</td>
		</tr>
		<tr>
			<td class="add-metric" colspan="5" ng-click="createMetric();">
				Добавить
			</td>
		</tr>
	</table>
	<%= render "/flow/new_metric" %>
</div>