.add-metric-container{
	transition: 500ms;
	width: 320px;
	height: 200px;
	background-color: #ffffff;
	color: #858585;
	font-size: 12px;
	position: absolute;
	top: 50px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
	left: 20px;
	padding: 15px;
	border-radius: 15px;	
	display: flex;
	flex-direction: column;
	opacity: 0;
	pointer-events: none;
}

.metric-creation-input{
	width: 270px;
	height: 40px;
}